# Import libraries

In [1]:
import pandas as pd
import  seaborn as sns
import numpy as np

# Load dataset

In [2]:
df=pd.read_csv('adult_with_headers.csv')
df.head()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

# data understanding

In [3]:
df.shape

(32561, 15)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education_num   32561 non-null  int64
 5   marital_status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital_gain    32561 non-null  int64
 11  capital_loss    32561 non-null  int64
 12  hours_per_week  32561 non-null  int64
 13  native_country  32561 non-null  object
 14  income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [5]:
df.duplicated().sum()

np.int64(24)

In [6]:
df.isnull().sum()

age               0
workclass         0
fnlwgt            0
education         0
education_num     0
marital_status    0
occupation        0
relationship      0
race              0
sex               0
capital_gain      0
capital_loss      0
hours_per_week    0
native_country    0
income            0
dtype: int64

In [7]:
df.describe(include='all')

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
count,32561.000000,32561,3.256100e+04,32561,32561.000000,32561,32561,32561,32561,32561,32561.000000,32561.000000,32561.000000,32561,32561
unique,NaN,9,NaN,16,NaN,7,15,6,5,2,NaN,NaN,NaN,42,2
top,NaN,Private,NaN,HS-grad,NaN,Married-civ-spouse,Prof-specialty,Husband,White,Male,NaN,NaN,NaN,United-States,<=50K
freq,NaN,22696,NaN,10501,NaN,14976,4140,13193,27816,21790,NaN,NaN,NaN,29170,24720
mean,38.581647,NaN,1.897784e+05,NaN,10.080679,NaN,NaN,NaN,NaN,NaN,1077.648844,87.303830,40.437456,NaN,NaN
std,13.640433,NaN,1.055500e+05,NaN,2.572720,NaN,NaN,NaN,NaN,NaN,7385.292085,402.960219,12.347429,NaN,NaN
min,17.000000,NaN,1.228500e+04,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,1.000000,NaN,NaN
25%,28.000000,NaN,1.178270e+05,NaN,9.000000,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,40.000000,NaN,NaN
50%,37.000000,NaN,1.783560e+05,NaN,10.000000,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,40.000000,NaN,NaN
75%,48.000000,NaN,2.370510e+05,NaN,12.000000,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,45.000000,NaN,NaN
max,90.000000,NaN,1.484705e+06,NaN,16.000000,NaN,NaN,NaN,NaN,NaN,99999.000000,4356.000000,99.000000,NaN,NaN

In [8]:
df['workclass'].unique()

array([' State-gov', ' Self-emp-not-inc', ' Private', ' Federal-gov',
       ' Local-gov', ' ?', ' Self-emp-inc', ' Without-pay',
       ' Never-worked'], dtype=object)

In [9]:
df['education'].nunique()

16

In [10]:
df['occupation'].unique()

array([' Adm-clerical', ' Exec-managerial', ' Handlers-cleaners',
       ' Prof-specialty', ' Other-service', ' Sales', ' Craft-repair',
       ' Transport-moving', ' Farming-fishing', ' Machine-op-inspct',
       ' Tech-support', ' ?', ' Protective-serv', ' Armed-Forces',
       ' Priv-house-serv'], dtype=object)

In [11]:
df['relationship'].nunique()

6

In [12]:
df['marital_status'].unique()

array([' Never-married', ' Married-civ-spouse', ' Divorced',
       ' Married-spouse-absent', ' Separated', ' Married-AF-spouse',
       ' Widowed'], dtype=object)

In [13]:
df['native_country'].unique()

array([' United-States', ' Cuba', ' Jamaica', ' India', ' ?', ' Mexico',
       ' South', ' Puerto-Rico', ' Honduras', ' England', ' Canada',
       ' Germany', ' Iran', ' Philippines', ' Italy', ' Poland',
       ' Columbia', ' Cambodia', ' Thailand', ' Ecuador', ' Laos',
       ' Taiwan', ' Haiti', ' Portugal', ' Dominican-Republic',
       ' El-Salvador', ' France', ' Guatemala', ' China', ' Japan',
       ' Yugoslavia', ' Peru', ' Outlying-US(Guam-USVI-etc)', ' Scotland',
       ' Trinadad&Tobago', ' Greece', ' Nicaragua', ' Vietnam', ' Hong',
       ' Ireland', ' Hungary', ' Holand-Netherlands'], dtype=object)

In [14]:
df['income'].unique()

array([' <=50K', ' >50K'], dtype=object)

# EDA_2

In [15]:
# i found '?' in workclass,occuption and native_country that are fake nulls
df.replace(' ?', np.nan, inplace=True)

In [16]:
df.isnull().sum()

age                  0
workclass         1836
fnlwgt               0
education            0
education_num        0
marital_status       0
occupation        1843
relationship         0
race                 0
sex                  0
capital_gain         0
capital_loss         0
hours_per_week       0
native_country     583
income               0
dtype: int64

In [17]:
# Calculate the percentage  of missing value in each column
for i in df.isna().sum():
    print(round(i/len(df)*100,2),'%')

0.0 %
5.64 %
0.0 %
0.0 %
0.0 %
0.0 %
5.66 %
0.0 %
0.0 %
0.0 %
0.0 %
0.0 %
0.0 %
1.79 %
0.0 %

In [18]:
df.dropna(inplace=True)

In [19]:
df.drop(columns=['fnlwgt','education_num'	])

,age,workclass,education,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,39,State-gov,Bachelors,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,Bachelors,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,Assoc-acdm,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,HS-grad,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,HS-grad,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,HS-grad,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,HS-grad,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [20]:
from sklearn.preprocessing import LabelEncoder

We do not use Label Encoding blindly on input columns with fewer unique values (like gender, binary yes/no), because:
Label encoding gives order to the categories (0 < 1 < 2),
which might be misleading.
For such columns, One-Hot Encoding or pd.get_dummies() is better.

but here For input columns that are categorical with many unique values (high cardinality), like:
occupation,
native_country,
workclass,

In [21]:
cat_cols = df.select_dtypes(include='object').columns.drop('income')

In [22]:
high_cardinality = [col for col in cat_cols if df[col].nunique() > 5] #filters only columns with many unique values.

In [23]:
# Apply Label Encoding
le = LabelEncoder()
for col in high_cardinality:
    df[col] = le.fit_transform(df[col])

In [24]:
df['income'] = le.fit_transform(df['income'])

In [25]:
df.head(100)  # returns the first 100 rows

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,39,5,77516,9,13,4,0,1,White,Male,2174,0,40,38,0
1,50,4,83311,9,13,2,3,0,White,Male,0,0,13,38,0
2,38,2,215646,11,9,0,5,1,White,Male,0,0,40,38,0
3,53,2,234721,1,7,2,5,0,Black,Male,0,0,40,38,0
4,28,2,338409,9,13,2,9,5,Black,Female,0,0,40,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103,20,2,188300,15,10,4,12,3,White,Female,0,0,40,38,0
104,29,2,103432,11,9,4,2,1,White,Male,0,0,40,38,0
105,32,3,317660,11,9,2,2,0,White,Male,7688,0,40,38,1
107,30,2,194901,1,7,4,5,3,White,Male,0,0,40,38,0
108,31,1,189265,11,9,4,0,1,White,Female,0,0,40,38,0

In [26]:
# Apply One-Hot Encoding to 'race'
df = pd.get_dummies(df, columns=['race',], drop_first=True)

#drop_first=True avoids multicollinearity (drops one dummy to avoid redundancy).

In [27]:
df=pd.get_dummies(df,columns=['sex'])

In [28]:
race_cols = ['race_ Asian-Pac-Islander', 'race_ Black', 'race_ Other', 'race_ White']
df[race_cols] = df[race_cols].astype(int)

In [29]:
df.head(10)

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,capital_gain,capital_loss,hours_per_week,native_country,income,race_ Asian-Pac-Islander,race_ Black,race_ Other,race_ White,sex_ Female,sex_ Male
0,39,5,77516,9,13,4,0,1,2174,0,40,38,0,0,0,0,1,False,True
1,50,4,83311,9,13,2,3,0,0,0,13,38,0,0,0,0,1,False,True
2,38,2,215646,11,9,0,5,1,0,0,40,38,0,0,0,0,1,False,True
3,53,2,234721,1,7,2,5,0,0,0,40,38,0,0,1,0,0,False,True
4,28,2,338409,9,13,2,9,5,0,0,40,4,0,0,1,0,0,True,False
5,37,2,284582,12,14,2,3,5,0,0,40,38,0,0,0,0,1,True,False
6,49,2,160187,6,5,3,7,1,0,0,16,22,0,0,1,0,0,True,False
7,52,4,209642,11,9,2,3,0,0,0,45,38,1,0,0,0,1,False,True
8,31,2,45781,12,14,4,9,1,14084,0,50,38,1,0,0,0,1,True,False
9,42,2,159449,9,13,2,3,0,5178,0,40,38,1,0,0,0,1,False,True

In [30]:
df = df.drop(columns=['sex_ Male'])  # keep only 'sex_ Female'

# Isolation forest

In [31]:
from sklearn.ensemble import IsolationForest

In [32]:
# Use only numeric continuous features
X = df[['age', 'hours-per-week', 'capital-gain', 'education_num']]

KeyError: "['hours-per-week', 'capital-gain'] not in index"

In [ ]:
# Scale the data
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

In [33]:
# Fit Isolation Forest
clf = IsolationForest(contamination=0.05, random_state=42)

In [34]:
df['anomaly'] = model.fit_predict(df_model)

NameError: name 'model' is not defined

In [35]:
df['anomaly'] = clf.fit_predict(X_scaled)

NameError: name 'X_scaled' is not defined

In [36]:
print(df['anomaly'].value_counts())  # -1 = anomaly, 1 = normal

KeyError: 'anomaly'